<div class="container mt-5 mb-5">

    <h1 class="text-center">About Us</h1>
    <br>

    <img src="../../../assets/img/banner.jpg">

    <br/>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, officia voluptates sequi eligendi nihil laboriosam quam quae facilis consequatur id architecto modi assumenda! In ducimus aut atque quibusdam, hic temporibus.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt eos ullam incidunt distinctio magni in animi, harum repellendus nobis recusandae, necessitatibus architecto quas error deserunt fugiat sed quibusdam iure nihil.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere neque ducimus sequi dolor reprehenderit sed, voluptas corporis tempore quod eveniet odio repudiandae tenetur quia eaque unde cumque ratione doloremque voluptatum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio repellendus excepturi minus repellat nostrum, voluptas, nemo amet quo officiis cumque inventore maiores ipsa sequi expedita, corporis quos commodi odit. Libero.
        <br/>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, in beatae similique aliquam sequi non nobis at quam harum cum iste iure odio expedita voluptate eaque placeat ipsam esse aspernatur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat at neque, sapiente officiis id similique rem, tempore et earum, nisi quia numquam repellendus deleniti quae iure qui! Dolorem, animi vero.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia velit adipisci, atque molestiae a eligendi itaque qui vel, consequuntur labore nam dignissimos ad voluptas repellat, ipsum nesciunt officiis aspernatur voluptatem.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore asperiores id rem, assumenda consectetur vel totam minus voluptatibus possimus quis quos iste doloremque quibusdam mollitia aut ipsam adipisci ipsum alias!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus qui voluptate repellendus aperiam fugit suscipit debitis aut. Hic laboriosam, consequuntur recusandae quia voluptatum quisquam error numquam architecto assumenda, iure sed.
</p>


</div>
